---
layout: page
---

<div class="posts">
    {% for post in paginator.posts %}
      {% if post.content contains 'Mesos is a framework I have had recent acquaintance with' %}
        <div class="post">
            <h1 class="post-title" style="font-weight: 600;">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>

            <span class="post-date">{{ post.date | date_to_string }} • {% include includetags-homepage.html %}</span>

            {{ post.content | split:'<!--break-->' | first }}
            {% if post.content contains '<!--break-->' %}
            <a href="{{ post.url }}">.. Read More</a>
            <div class="doublespaced" >
            </div>
            {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title" style="font-weight: 600;">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }} • {% include includetags-homepage.html %}</span>

        {{ post.content | split:'<!--break-->' | first }}
        {% if post.content contains '<!--break-->' %}
        <a href="{{ post.url }}">.. Read More</a>
        <div class="doublespaced" >
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/essays/{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/essays/">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/essays/{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
